<h1>About</h1>
<p>Whom am I? WHO AM I???? Better question, WHO. ARE. YOU? If you must know, I'm just a small town boy, born in raised in south Detroit! I took the midnight train going anywhere....</p>
