<h1>Welcome to Kim Possible</h1>
<h2>Your source for used Kim Possible DVD collections!</h2>

<%= image_tag("KP.jpg") %>
<p>That's right baby... We're selling the extended edition of the best cartoon series to ever hit the Family Channel!</p>