// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	padding-top: 35px;
	padding-left: 20px;
	background-color: #444444;
}
h1 {
	color: #cccccc;
}
h2 {
	color: #20bcee;
}
.Devan {
	padding-top: 15px;
}
p {
	color: white;
}
footer {
	color: #20bcee;
}